@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Email:</strong> <a href="mailto:guilhermebeneti@icloud.com">guilhermebeneti@icloud.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/guilherme-beneti-aa6569144/">Guilherme Beneti</a>
</address>
